@import url(../../globals.css);

.ModalContainer {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 1rem; 
    margin: 0px; 
    padding: 1px; 
  }
  
  
  .Modal {
    width: 600px; 
    height: 200px;
    background-color: #c84e4e;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  