@import url(../globals.css);



.UserPageBar{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.UserPageTxt, .UserSideBar{
    display: flex;
    align-items: center;
    gap: 12rem;

}
.UserSideBar{
    gap: 15rem;
    border: solid 1px #A4A4A4;
    padding: 1rem 0rem 1rem 1rem;
    border: solid 2px red;
    max-height: 3rem;
}

.UserPageTxt p, .UserSideBar p {
    font-size: 14px;
    font-weight: 600;
    color: #A4A4A4;
}

.UserPageIcon {
    display: flex;
    align-items: center;
    gap: .5rem;

}

.MenuEmBarra, .Bell{
    width: 2.5rem;
    height: 2.5rem;
}

.Profile, .RArrow{
    width: 1.7rem;
    height: 1.7rem;
    padding-right: .3rem;
}

.MenuUserList{
    display: flex;
}

.UserSideBar{
    display: flex;
}


.UserList{
    border: solid 8px #D9D9D9;
    background-color: F5F5F5;
    padding: 8px;
    border-bottom: none;
    width: 100%;
    max-width: 100%;
}